html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-image: url('bones.png');
  background-size: 500px 500px;
  background-color: #fdf5ea;
}

.dog {
  position: absolute;
  width: 300px;
  transition: all 1s ease-in-out;
  opacity: 0;
}

.error {
  display: none;
  margin: auto;
  font-size: 40px;
  text-align: center;
  font-family: sans-serif;
}

.error-inner {
  background: #fdf5ea;
}

.button {
  position: fixed;
  right: 30px;
  top: 20px;
  border: none;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  overflow: visible;
  outline: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button.on {
  background-image: url('Speaker_Icon.svg');
}

.button.off {
  background-image: url('Mute_Icon.svg');
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
